.mainHeader {
  background-color: #111827;
  position: relative;
  z-index: 999999;
}

.mainHeader a {
  text-decoration: none;
  color: inherit;
}

.mainHeader button {
  border: none;
  background: transparent;
}
.mainHeader ul {
  margin: 0;
  padding: 0;
}

.mainHeader .mainHeader-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 12px;
}

.mainHeader-logo {
  display: flex;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;

  color: #eee;
}

.mainHeader-logo .icon {
  -webkit-margin-end: 16px;
  margin-inline-end: 16px;
}
.mainHeader-logo a {
  width: 100px;
}
.mainHeader-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  color: #eee;
}

.mainHeader-info .mainHeader-info-langtext {
  color: white;
  text-decoration: none;
  border-left: 1px solid #828282;
  border-right: 1px solid #828282;
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;
}

.mainHeader-info .mainHeader-info-parentuserIcons {
  color: white;
  position: relative;
  text-decoration: none;
}

.mainHeader-info .mainHeader-info-parentuserIcons .mainHeader-info-userIcons-shoppingIconCounter {
  background-color: white;
  position: absolute;
  top: -4px;
  right: -12px;
  color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.mainHeader-info .mainHeader-info-userIcons {
  -webkit-margin-start: 10px;
  margin-inline-start: 10px;
}

.mainHeader-info i {
  
  line-height: 28px;
}


.mainHeader-info-item {
  display: flex;
  /*min-width: 140px;*/
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .mainHeader-info-item {
    /*width: 220px;*/
  }
}
.mainHeader-info-item .line-dived {
  display: inline-block;
  height: 1em;
  border-left: 1px solid #eee;
}

.mainHeader-info-flag {
  display: flex;
  align-items: center;
  gap: 8px;
  -webkit-padding-start: 8px;
  padding-inline-start: 8px;
  -webkit-padding-end: 8px;
  padding-inline-end: 8px;
  cursor: pointer;
}

.mainHeader-info-flag .dropdownicon {
  font-size: 12px;
}

.mainHeader-info-flag .mainHeader-info-flag-text {
  font-size: 10px;
}

.mainHeader-info-flag .mainHeader-info-flag-boldtext {
  font-weight: bold;
  font-size: 12px;
}

.mainHeader-info-flag .mainHeader-info-flag-dropdown-item-text {
  font-size: 12px;
}

.mainHeader-info-flag .dropdown-icon {
  border: 2px solid gray;
  width: 10px;
  height: 10px;
  display: inline-block;
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
}

.mainHeader-info-flag img {
  width: 20px;
  -webkit-margin-end: 5px;
  margin-inline-end: 5px;
}

.mainHeader-info-flag .dropdown-menu .dropdown-item {
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;
}

.mainHeader-info-flag .dropdown-menu a {
  display: flex;
  align-items: center;
}

.mainHeader-info-flag:hover .dropdown-menu {
  display: block;
  position: absolute;
  /*inset: 0px 0px auto auto;*/
  margin: 0px;
  /*transform: translate(-8.15625px, 30px);*/
}

.mainHeader-search {
  position: relative;
  margin-top: 8px;
  margin-bottom: 0;
  display: flex;
  width: 100%;
}
.mainHeader-search input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 8px;
  font-size: 12px;
}
.mainHeader-search input::-moz-placeholder {
  font-size: 12px;
}
.mainHeader-search input:-ms-input-placeholder {
  font-size: 12px;
}
.mainHeader-search input::placeholder {
  font-size: 12px;
}

.mainHeader-search .mainHeader-search-buttonIconSubmit {
  outline: 0;
  -webkit-padding-end: 15px;
  padding-inline-end: 15px;
  -webkit-padding-start: 15px;
  padding-inline-start: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-color: #eee;
  background-color: rgba(255, 255, 255);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.mainHeader-search .mainHeader-search-buttonIconSubmit:before {
  content: '';
  border: 12px solid transparent;
  border-bottom-color: #eee;
  position: absolute;
  left: 0;
  bottom: 108%;
}
.mainHeader-search .mainHeader-search-buttonIconSubmit i {
  color: #eee;
}
@media (min-width: 768px) {
  .mainHeader .mainHeader-container {
    align-items: center;
  }
  .mainHeader .mainHeader-container {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .mainHeader-logo {
    order: 1;
  }
  .mainHeader-logo .icon-menu {
    display: none;
  }
  .mainHeader-logo a {
    width: 150px;
  }
  .mainHeader-info {
    order: 3;
  }
  .mainHeader-search {
    order: 2;
  }
  .mainHeader-search {
    margin-top: 0;
  }
  .mainHeader-search {
    width: 260px;
  }
  .mainHeader-search .mainHeader-search-buttonIconSubmit:before {
    display: none;
  }

  .mainheader-hideDesktop {
    display: none;
  }
}

@media (min-width: 992px) {
  .mainHeader-search {
    width: 380px;
  }
}

.mainheader-mainNav .navbar-toggler {
  position: absolute;
  top: 10px;
  right: 10px;
  font-style: normal;
  background: #8c8d8f;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  color: #eee;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 15px;
  border: none;
}

.mainheader-mainNav {
  left: -250px;
  overflow-x: hidden;
  position: fixed;
  top: 0px;
  bottom: 0;
  transition: all 0.5s linear;
  overflow-y: scroll;
  z-index: 99999;
}

.mainheader-mainNav-active {
  left: 0;
}

.mainheader-mainNav .mainheader-mainNav-content {
  min-height: 100vh;
  color: rgba(17, 24, 39);
  border-inline-end: 1px solid #ccc;
  background-color: rgba(255, 255, 255);
  position: relative;
}

.mainHeader .mainheader-mainNav .mainheader-mainNav-header {
  background-color: #e6e6ea;
  padding: 16px;
}

.mainHeader .mainheader-mainNav .mainheader-mainNav-header-title {
  font-weight: 500;
}

.mainHeader .mainheader-mainNav .mainheader-mainNav-header-title span {
  color: rgba(107, 114, 128);
}

.mainHeader .mainheader-mainNav .mainheader-mainNav-header-title-authButtons {
  border-radius: 4px;
  background-color: rgba(255, 255, 255);
  padding: 4px 8px;
  font-size: 12px;
  line-height: 16px;
}
.mainHeader .mainheader-mainNav .mainheader-mainNav-header-title-authButtons:first-of-type {
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
}

.mainHeader .mainheader-mainNav .mainheader-mainNav-list .mainheader-mainNav-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(209, 213, 219);
  padding: 8px 16px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
.mainHeader .mainheader-mainNav .mainheader-mainNav-list .mainheader-mainNav-item i {
  -webkit-margin-end: 5px;
  margin-inline-end: 5px;
  font-size: 12px;
  color: #222;
  width: 14px;
}
.mainHeader .mainheader-mainNav .mainheader-mainNav-list .mainheader-mainNav-item .mainheader-mainNav-item-text {
  font-size: 10px;
}


.mainHeader .mainheader-mainNav .mainheader-mainNav-list .mainheader-mainNav-item .mainheader-mainNav-item-categories {
  margin-top: 8px;
  display: flex;
  width: 100%;
  flex-direction: column;
  -webkit-margin-start: 1.5em;
  margin-inline-start: 1.5em;
}

.mainHeader .mainheader-mainNav .mainheader-mainNav-list .mainheader-mainNav-item .mainheader-mainNav-item-categories .mainheader-mainNav-item-categories-text {
  border-top: 1px solid rgba(209, 213, 219);
  border-bottom: 1px solid rgba(209, 213, 219);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 8px;
}

.mainHeader .mainheader-mainNav .mainheader-mainNav-list .mainheader-mainNav-item .mainheader-mainNav-item-categories .mainheader-mainNav-item-categories-text:last-of-type {
  border-top: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.mainHeader .mainheader-mainNav .mainheader-mainNav-list .mainheader-mainNav-item .mainheader-mainNav-item-categories a {
  padding-top: 8px;
}
.mainHeader .mainheader-mainNav .mainheader-mainNav-list .mainheader-mainNav-item img {
  -webkit-margin-end: 5px;
  margin-inline-end: 5px;
  height: 14px;
  width: 14px;
  border-radius: 9999px;
  -o-object-fit: cover;
  object-fit: cover;
}
.mainHeader .mainheader-mainNav .mainheader-mainNav-shipto {
  -webkit-margin-start: 16px;
  margin-inline-start: 16px;
  -webkit-margin-end: 16px;
  margin-inline-end: 16px;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}
.mainHeader .mainheader-mainNav .mainheader-mainNav-shipto img {
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
  height: 16px;
  width: 16px;
  -o-object-fit: cover;
  object-fit: cover;
}
.mainHeader .mainheader-mainNav .mainheader-mainNav-shipto img {
  -webkit-margin-start: 10px;
  margin-inline-start: 10px;
}

.mainHeader .mainheader-mainNav .mainheader-mainNav-shipto .dropdown-menu img {
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
}
.mainHeader .mainheader-mainNav .mainheader-mainNav-shipto i {
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
  font-size: 16px;
}
.mainHeader .mainheader-mainNav .mainheader-mainNav-shipto span {
  -webkit-margin-end: 0.5em;
  margin-inline-end: 0.5em;
  color: rgba(156, 163, 175);
}

.mainHeader .mainheader-mainNav .mainheader-mainNav-shipto .dropdown-menu .dropdown-item {
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-padding-end: 5px;
  padding-inline-end: 5px;
}
.mainHeader .mainheader-mainNav .mainheader-mainNav-shipto .dropdown-menu i {
  border: 2px solid gray;
  width: 10px;
  height: 10px;
  display: inline-block;
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
}

.mainHeader .mainheader-mainNav .mainheader-mainNav-shipto .dropdown-menu .mainheader-mainNav-shipto-item-text {
  font-size: 10px;
}

.mainHeader .mainheader-mainNav .mainheader-mainNav-shipto:hover .dropdown-menu {
  display: block;
  position: absolute;
  margin: 0px;
  left: 0;
  /*top: 25px;*/
}

.mainHeader .mainheader-mainNav-desktop {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.mainHeader .mainheader-mainNav-desktop i {
  -webkit-margin-start: 4px;
  margin-inline-start: 4px;
  -webkit-margin-end: 4px;
  margin-inline-end: 4px;
  font-size: 20px;
  line-height: 28px;
}
.mainHeader .mainheader-mainNav-desktop span {
  -webkit-margin-start: 8px;
  margin-inline-start: 8px;
  -webkit-margin-end: 8px;
  margin-inline-end: 8px;
  display: flex;
  align-items: center;
}
.mainHeader .mainheader-mainNav-desktop .icon-menu {
  color: #eee;
}
@media (max-width: 768px) {
  .mainHeader .mainheader-mainNav-desktop {
    display: none;
  }

  .mainheader-hideMobileTablet {
    display: none;
  }

  .mainHeader-info-flag .dropdown-menu {
    right: 0 !important;
    left: unset !important;
  }
}

.mainheader-secondNav {
  background-color: white;
}

.mainheader-secondNav-titleText {
  font-size: 12px;
  font-weight: bold;
}

.mainheader-secondNav-categories {
  -webkit-padding-end: 8px;
  padding-inline-end: 8px;
  -webkit-margin-end: 15px;
  margin-inline-end: 15px;
  display: inline-block;
  cursor: pointer;
}

.mainheader-secondNav-categories .mainheader-secondNav-categories-alignicon {
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
}

.mainheader-secondNav-categories .dropdown-menu  {
  left: 20px !important;
}
.mainheader-secondNav-categories:hover .dropdown-menu {
  display: block;
  position: absolute;
  margin: 0px;
}

.mainheader-secondNav-categories:hover .dropdown-item a {
  font-size: 12px;
}




.mainheader-secondNav-animation-fadeout {
  width: 0 !important;
}
